body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    border-radius: 8px;
}

.producto-info {
    margin-top: 10px;
}
